{% extends 'base.html' %}
{% load static %}


{% block content %}

<section class="sec-pad">
    <div class="container">
       <div class="row vcenter">
          <div class="col-lg-6 padding-left-50 mmt40">
             <h1>Servicio de acompañamientos</h1>
             
             <p>La Asociación Vizcaína de Diabetes ofrece el servicio de acompañamiento de un monitor/a de la propia asociación a las excursiones y colonias escolares de niños y niñas de hasta 12 años. Se trata de un servicio totalmente gratuito para el socio/a.</p>
             <br>
             <p>Si la familia de un socio o socia de la Asociación Vizcaína de Diabetes necesita una persona cualificada para acompañar a su hijo/a a una excursión o colonia escolar, con el fin de ayudarle con el control de la enfermedad, debe ponerse en contacto con la  asociación (tfno. 944 446 606 o mediante el correo: info@asvidia.org).</p>
             <br>
             <p>El servicio deberá solicitarse con al menos 3 días hábiles de antelación, puesto que la asignación del acompañante se hará en riguroso orden de solicitud.</p>
             <br>   
             <p>Se intentará encontrar una solución para todos los casos. No obstante, dado que frecuentemente las excursiones de los distintos centros escolares tienden a coincidir en las mismas fechas y que la disponibilidad de los monitores es limitada, por razones profesionales y/o académicas, este servicio no se puede garantizar en todos los casos.</p>
          </div>
       </div>
    </div>
 </section>

{% endblock %}