{% extends 'base.html' %}
{% load static %}


{% block content %}

<section class="sec-pad">
    <div class="container">
       <div class="row vcenter">
            <div class="col-lg-6 padding-left-50 mmt40">
             <h1>“Carol tiene diabetes”</h1>
             
             <p>La <a href="https://www.fundaciondiabetes.org/infantil">Fundación para la Diabetes</a>, conscientes de la necesidad de educar en diabetes a distintos públicos infantiles así como a otros vinculados con los centros escolares, desarrolló el proyecto Carol tiene Diabetes. Este proyecto se materializa en un CD que se entrega en las consultas de Endocrinología Pediátrica en España y cuyos contenidos, por gentileza de la Fundación para la Diabetes, se pueden consultar en esta página así como, por supuesto, en su web.

                “Carol tiene diabetes” contiene distintos materiales  encaminados a facilitar formación en diabetes a los más pequeños. Al mismo tiempo, es una buena herramienta para utilizar en las aulas escolares o con los amigos pequeños de nuestros hijos e hijas y, por qué no, en caso de ser nosotros, los adultos, quienes padezcamos la enfermedad, para explicarles a nuestros hijos cómo funciona. Puede ser también muy útil para abordar el tema de la diabetes en las aulas escolares y su interactividad permite hacerlo más atractivo y próximo a los niños.
                
                A continuación aparecen los contenidos del CD. Pinchando en las palabras marcadas se accede al contenido descrito.</p>
             <br>
             <ul>
                <li>- Un <a href="https://www.fundaciondiabetes.org/infantil">cortometraje</a> de animación, en el que vemos a Carol, una niña con diabetes, que vive una divertida aventura con sus amigos y tiene la oportunidad de explicarles qué es la diabetes y lo que supone tenerla para un niño o niña de su edad.</li>
                <li>- Una serie de <a href="https://www.fundaciondiabetes.org/infantil">animaciones</a>  que permiten profundizar en 3 aspectos concretos relacionados con la diabetes: fisiología, el día a día con diabetes y la educación en valores.</li>
                <li>- <a href="https://www.fundaciondiabetes.org/infantil?cl=3">Fichas didácticas</a> en pdf. con las que el profesorado podrá trabajar en el aula determinados aspectos de la diabetes de forma transversal. El lenguaje y contenido de las fichas está adaptado a cada uno de los 3 ciclos de la educación primaria</li>
             </ul>
            </div>
       </div>
    </div>
 </section>

{% endblock %}