{% extends 'base.html' %}
{% load static %}


{% block content %}

<section class="sec-pad">
    <div class="container">
       <div class="row vcenter">
          <div class="col-lg-6 padding-left-50 mmt40">
             <h1>Circular de Atención Sanitaria especial durante el horario escolar</h1>
             
             <p>La siguiente circular refleja el Programa de Actuación para atender a la población escolar con necesidades sanitarias específicas, a propuesta de los Consejeros de Educación, Universidades e Investigación, y de Sanidad.

                “CIRCULAR DE ATENCIÓN SANITARIA ESPECIAL DURANTE EL HORARIO ESCOLAR”</p>
          </div>
       </div>
    </div>
 </section>

{% endblock %}