{% extends 'base.html' %}
{% load static %}


{% block content %}

<section class="sec-pad">
    <div class="container">
       <div class="row vcenter">
          <div class="col-lg-6 padding-left-50 mmt40">
             <h1>Colonias</h1>
             
             <p><strong><u>Niños</u></strong></p>
             <p>Son cursos de educación diabetológica que tienen lugar entre los meses de junio y julio todos los años. A estos cursos pueden acudir niños y niñas con diabetes con edades comprendidas entre 7 y 13 años. Los niños y niñas están  acompañados de un equipo médico compuesto por dos endocrinos pediatras y una enfermera educadora, que les enseñan a gestionar su diabetes (análisis, inyecciones, nociones básicas de la dieta, síntomas de hipoglucemia, etc). También les acompaña el equipo de monitores de la Asociación Vizcaína de Diabetes, que se encarga de la parte lúdica del campamento, con la organización de talleres, excursiones, deportes, veladas nocturnas, etc.

                Tienen una semana de duración y se suelen celebrar en un albergue. Es una magnífica oportunidad de que los niños y niñas, además de aprender sobre diabetes, conozcan a otros menores con su misma situación.
                
                Se informará a todas las familias de socios de esa edad, por correo (electrónico y/o postal) y en esta web.</p>
             <br>
             <p><strong><u>Adolescentes</u></strong></p>
             <p>Las colonias de adolescentes están destinadas a adolescentes de 13 a 17 años y suelen tener al menos una semana de duración. Los adolescentes, acompañados por un equipo compuesto por médicos endocrinólogos y monitores de tiempo libre (en su mayor parte, con diabetes también), reciben educación diabetológica (dieta por raciones, modificaciones de la pauta de insulina, comportamiento de la glucemia ante el ejercicio físico, formas de resolver situaciones de emergencia, etc.) en un clima ameno y distendido.

                Además de las sesiones formativas en el autocontrol de la diabetes, se realizan charlas sobre hábitos de vida saludables u otros temas que los adolescentes deseen abordar, cuidado del medio ambiente. Las distintas sesiones se acompañan de gran variedad de actividades deportivas y multi-aventura (rafting, canoas, descenso de cañones, tiro con arco,  etc.) que hacen que la mayoría de los adolescentes repitan año tras año hasta cumplir la edad máxima.
                
                Es una excelente oportunidad de conocer a otros jóvenes con diabetes y, por lo tanto, con las mismas inquietudes y dudas al mismo tiempo que se dispone de gran cantidad de tiempo para poder hablar con el equipo médico desplazado sobre cualquier tema que prefiera no tratarse en consulta o para el que se precise más tiempo.</p>
          </div>
       </div>
    </div>
 </section>

{% endblock %}