{% extends 'base.html' %}
{% load static %}


{% block content %}

<section class="sec-pad">
    <div class="container">
       <div class="row vcenter">
          <div class="col-lg-6 padding-left-50 mmt40">
             <h1>Conferencias</h1>
             
             <p>Conscientes de que la información y educación, es fundamental para el paciente con diabetes, la Asociación Vizcaína de Diabetes organiza mensualmente una conferencia sobre distintos temas relacionados con la diabetes (como dieta, complicaciones, ejercicio físico, aspectos legales, avances en el tratamiento,  etc.) impartidas por los especialistas en la materia.

                Las conferencias se realizan generalmente en el Salón de actos Arrupe Etxea en la calle Padre Logendio de Bilbao (junto a El Corte Inglés). Están abiertas al público en general y al finalizar las mismas, se abre un turno de preguntas para aclarar cualquier duda relacionada con el tema tratado.</p>
          </div>
       </div>
    </div>
 </section>

{% endblock %}