{% extends 'base.html' %}
{% load static %}


{% block content %}


<div>
    <section class="sec-pad">
        <div class="container">
           <div class="row vcenter">
              <div class="col-lg-6 padding-left-50 mmt40">
                 <h1>Convivencias fin de semana</h1>
                 
                 <p>Las convivencias, bien de fin de semana o de un solo día de duración, tienen como finalidad proporcionar educación diabetológica fundamentalmente para aquellas personas que tienen dificultades horarias para poder asistir a las actividades desarrolladas durante la semana. En ellas, se combinan las charlas educativas con ratos de tiempo libre, en los que los asistentes intercambian experiencias personales. Estas jornadas se programan para diferentes edades Y tipos de diabetes, porque así los temas expuestos se ajustan más a la problemática de los asistentes.

                    Estas convivencias suelen ser moderadas por personal sanitario (médico endocrino, enfermera educadora, sicóloga y/o podólogo) que abordan distintos temas relacionados con la diabetes, adaptados a las personas asistentes.
                    
                    Cuando las convivencias son de un día de duración tienen lugar en Bilbao y, cuando son de dos o más días, suelen ser fuera.
                    
                    Los grupos son:</p>
                 <br></br>
                 <ul type="circle">
                    <li>- Padres y madres con niños y niñas con diabetes de 0 a 13 años. (Se puede ir en familia puesto que acude el equipo de monitores para hacerse cargo de los menores)</li>
                    <li>- Jóvenes con diabetes de 18 a 40 años con acompañante, si así se desea.</li>
                    <li>- Adultos con diabetes de 41 a 55 años con acompañante, si así se desea.</li>
                    <li>- Personas mayores de 55 años en tratamiento con antidiabéticos orales.</li>
                </ul>
                <br></br>
                <p>Nota: En el caso de niños, adolescentes y mayores de 55 años en tratamiento con insulina se realizan actividades de mayor duración  (Ver: Colonias, Campamentos para adolescentes y Cursos de educación diabetológica para mayores de 55 años en tratamiento con insulina)</p>
              </div>
           </div>
        </div>
     </section>

</div>


{% endblock %}