{% extends 'base.html' %}
{% load static %}


{% block content %}

<section class="sec-pad">
    <div class="container">
       <div class="row vcenter">
          <div class="col-lg-6 padding-left-50 mmt40">
             <h1>Cursillos</h1>

             <p><strong><u>Diabetes Tipo 1</u></strong></p>
             
             <p>Se realizan cursillos demandados por los socios/as o sobre temas de actualidad. En los últimos años, por ejemplo, han tenido mucho éxito los cursillos de dieta por raciones para personas con diabetes tipo 1. En éstos, una enfermera educadora en diabetes y una dietista, han impartido formación acerca de la dieta por raciones de hidratos de carbono, desmontando algunos mitos acerca de lo que puede, o no puede comer una persona con diabetes y mostrando con ejemplos sencillos cómo calcular los hidratos de carbono de cualquier comida.

                Estos cursillos se imparten en los locales de la Asociación Vizcaína de Diabetes (c/ Iparraguirre, 46, 1º), y tienen una duración de 3 días en sesiones de 2 horas. Se anuncian a los socios/as por correo (postal o electrónico) y en esta web.
                
                No obstante, si estás interesado en realizar esta formación, ponte en contacto con nosotros en la dirección info@asvidia.org o en el teléfono 944 446 606 y te apuntaremos en una lista de forma que, en cuanto se llene el grupo, realizaremos un nuevo cursillo.
                
                Con el fin de facilitar la asimilación de contenidos, el formato del curso es el siguiente: los 2 primeros días se explica la forma de calcular las raciones de hidrato de carbono y pasada una semana después, se hace otra nueva sesión para aclarar posibles dudas que hayan surgido al poner en práctica la dieta en casa. Se considera importante la asistencia a las tres sesiones para completar la formación y poder aprender de las dudas o problemas a los que se hayan enfrentado el resto de asistentes.</p>
             
             <br></br>

             <p><strong><u>Diabetes Tipo 2</u></strong></p>   
            
             <p>Son cursillos de educación diabetológica, para grupos de unos 8 pacientes con diabetes tipo 2 en tratamiento con dieta, antidiabéticos orales o combinados con una inyección de insulina. En ellos se repasa qué es la diabetes, qué la produce, los tratamientos, la dieta, el ejercicio, las complicaciones, etc. Son una excelente oportunidad para disipar todas nuestras dudas sobre el autocontrol de la enfermedad y una fidedigna fuente de información.

                Se celebran en los locales de la Asociación Vizcaína de Diabetes (c/ Iparraguirre, 46, 1º) y los imparten médicos endocrinólogos y enfermeras educadoras en diabetes. Tienen una duración de 2 días en sesiones de 2 horas de duración.
                
                Se anuncian a los socios y socias por correo (electrónico y/o postal) y en esta web. No obstante, si estás interesado/a en realizar esta formación, ponte en contacto con nosotros en la dirección info@asvidia.org o en el teléfono 944 446 606 y te apuntaremos en una lista de forma que, en cuanto se llene el grupo, realizaremos un nuevo cursillo.</p>
          
            </div>
       </div>
    </div>
 </section>

{% endblock %}