{% extends 'base.html' %}
{% load static %}


{% block content %}

<section class="sec-pad">
    <div class="container">
       <div class="row vcenter">
          <div class="col-lg-6 padding-left-50 mmt40">
             <h1>Diabetes Mellitus Tipo 1</h1>
             
             <p>Este tipo de diabetes, que generalmente aparece en personas jóvenes, se presenta cuando las células beta del páncreas, que son las que producen la insulina, son destruidas por el propio organismo.

                La diabetes de tipo 1 representa un 10% de todos los casos de diabetes.</p>
             <br>   
             <p><strong><u>Causas:</u></strong></p>
             <br>
             <p>La diabetes tipo 1 no se puede predecir. Todavía no se conoce con exactitud por qué algunas personas desarrollan la enfermedad y otras no. Se nace con la predisposición a padecer diabetes, pero se necesitan otros factores para que aparezca (infecciones por virus, alteración en las defensas del organismo…)

                Una vez contraída la enfermedad, es permanente y requiere tratamiento de por vida con inyecciones de insulina.
                
                Seguir una dieta saludable, hacer ejercicio físico, tener un buen autocontrol y educación diabetológica, son importantes para conseguir un adecuado nivel de glucosa en sangre y evitar los riesgos asociados a la enfermedad.
                
                Los síntomas típicos del debut de la diabetes tipo 1 son:</p>
             <ul>
                <li>- <strong>Orinar con mucha frecuencia.</strong> Para que la glucosa pueda eliminarse por la orina es necesario que se disuelva en cantidades importantes de agua, por esta razón, la persona que no está tratando su diabetes orina muchas veces y en grandes cantidades.</li>
                <li>- <strong>Mucha sed.</strong> Para compensar la pérdida de agua por la orina, la persona que no está tratando su diabetes tiene mucha sed, incluso a veces por la noche.</li>
                <li>- <strong>Incremento del apetito.</strong> Al no poder ser utilizada la glucosa, las células reclaman energía y la persona que no está tratando su diabetes trata de compensarlo aumentando la cantidad de alimento ingerido.</li>
                <li>- <strong>Cansancio y pérdida de peso.</strong> Aunque la persona que no está tratando su diabetes coma más, las células no tienen energía suficiente, originándose la movilización de sus energías de reserva y por ello, adelgaza y se cansa.</li>
             </ul>
             <br>
             <p><strong><u>Tratamiento de la diabetes tipo 1:</u></strong></p> 
             <br>
             <p>El tratamiento personalizado de la diabetes tipo I, lo prescribirá el personal médico y, conforme vaya pasando el tiempo y la persona con diabetes tenga un mayor control de su enfermedad, irá asumiendo mayor autonomía en la toma de decisiones. En cualquier caso, estos pacientes siempre necesitarán hacerse frecuentes análisis diarios de glucemia e inyectarse insulina al menos tres veces al día. Las cantidades de insulina a inyectar son variables para cada individuo en función de su dieta, peso, ejercicio…

                La insulina es una hormona que se inyecta para hacer lo que hace esta hormona en todos los cuerpos: permitir que los azúcares que ingerimos (en forma de hidratos de carbono), entren en las células y no se queden en la sangre.</p>
             <br>
             <p><strong><u>Complicaciones frecuentes de la diabetes tipo 1:</u></strong></p>
             <br>
             <p>Las complicaciones más frecuentes de esta enfermedad son la hipoglucemia (bajo nivel de azúcar en sangre) y la hiperglucemia (elevado nivel).</p>
             <br>
             <ul>
                <li>- <strong>HIPOGLUCEMIA:</strong> Es un proceso fácil de corregir y que precisa medidas urgentes. Es importante saber identificar posibles síntomas de hipoglucemia, que podrían ser cualquiera de los siguientes:</li>
                <ul>
                    <li>- cansancio o decaimiento</li>
                    <li>- adormecimiento</li>
                    <li>- hambre</li>
                    <li>- dolor de cabeza</li>
                    <li>- sudor excesivo y piel fría</li>
                    <li>- sudor excesivo y piel fría</li>
                    <li>- mal humor repentino</li>
                    <li>- palidez</li>
                    <li>- confusión mental</li>
                    <li>- temblores, taquicardia</li>
                    <br>
                    <p> En último caso y si la hipoglucemia es severa se puede llegar a pérdida de conocimiento
                        Ante cualquiera de los síntomas anteriores, debe hacerse una glucemia y si es inferior a 60 mg/dl. y el paciente está consciente, debe tomar inmediatamente ZUMO, AZÚCAR, GLUCOSPORT, COCA-COLA NORMAL, YOGUR CON AZÚCAR….
                
                         En caso de no tener un glucómetro cerca y se sospecha una hipoglucemia: actuar como si estuviera con hipoglucemia.
                
                        En caso de pérdida de conocimiento:</p>
                    <br>
                    <ul>
                        <li>- <strong>NO</strong> dar nada por boca.</li>
                        <li>- <strong>INYECTAR </strong>Glucagón.</li>
                        <li>- Llamar al <strong>112</strong>.</li>
                    </ul>
                </ul>
                <br>
                <li>- <strong>HIPERGLUCEMIA:</strong> Este caso requiere una actuación menos urgente pero es preciso también tratar de reducirla mediante insulina, a no ser que se vaya a comer en menos de 2 horas, en cuyo caso, se modificará la pauta de insulina en función de la glucemia previa a la comida.</li>
                <br>
                <p>La hiperglucemia puede presentar SÍNTOMAS como:</p>
                <ul>
                    <li>- sed intensa</li>
                    <li>- necesidad de orinar con más frecuencia</li>
                    <li>- cansancio...</li>
                </ul>
             </ul>
          <br>   
          <p><a href="links.html">Para consultar otras fuentes de información.</a> </p>

          </div>
       </div>
    </div>
 </section>

{% endblock %}