{% extends 'base.html' %}
{% load static %}


{% block content %}

<section class="sec-pad">
    <div class="container">
       <div class="row vcenter">
          <div class="col-lg-6 padding-left-50 mmt40">
             <h1>Diabetes Mellitus Tipo 2</h1>
             
             <p>La diabetes mellitus tipo 2 representa entre el 85 y 90 % de todos los casos de diabetes.
                La diabetes mellitus tipo 2 se produce cuando la insulina que se genera no es suficiente para mantener los niveles adecuados de azúcar para el organismo. En función de los casos, el personal médico prescribe sólo alimentación saludable o añade a ésta, fármacos orales o insulina.
                
                Generalmente, la diabetes tipo 2 se presenta en personas adultas a partir de los 30 años aunque también pueden ser más jóvenes. La posibilidad de padecerla aumenta con la edad, el sedentarismo y la obesidad. Muchas veces se diagnostica de forma casual (por ejemplo, en una revisión médica), porque durante los primeros años, la glucemia está ligeramente elevada y no aparecen síntomas claros. Esta falta de síntomas claros hace que muchas personas sean diagnosticadas de diabetes cuando ya tienen complicaciones crónicas que les afectan la vista, el riñón, los pies o el sistema cardiovascular. Se calcula que la mitad de las personas con diabetes tipo 2 está sin diagnosticar. Es imprescindible tratar de mejorar esta ratio ya que lo que no se conoce, no se puede controlar y los daños avanzan.
                
                Cada caso es un mundo y será el personal médico quien decida cuál debe ser el tratamiento para cada paciente. No obstante, como regla general, en los primeros años desde el comienzo de la enfermedad (que no necesariamente tiene que coincidir con el momento del diagnóstico, como hemos comentado antes), el tratamiento puede consistir en una alimentación adecuada, con la recomendación de perder peso, si existe sobrepeso u obesidad y realizar ejercicio con regularidad. En ocasiones a este tratamiento, se le acompaña de  antidiabéticos orales, y en otros, o con el paso del tiempo, puede ser necesario inyectar insulina.</p>
                <br>
             <p>Una persona con diabetes debe verse y hacerse ver como una persona, que puede llevar una vida personal, social y familiar absolutamente normal. Al igual que todas las personas, la persona con diabetes debe tener cuidado con la alimentación, tratar de evitar el sedentarismo y el sobrepeso pero así como en el caso de las personas con diabetes, estas decisiones son una elección, en el caso de las personas con diabetes, si no quieren tener complicaciones graves, debe ser una obligación.
                
                Finalmente, conviene recordar que la diabetes mellitus tipo 2 es un problema que se controla en equipo: médico, enfermera y persona con diabetes. Sin embargo lo más importante es que la persona con diabetes tenga la voluntad y la decisión de cuidarse porque, solo así, se implicará en el control de su enfermedad y evitará los efectos secundarios que un mal cuidado pueden suponer.
                
                [media url=”https://www.youtube.com/watch?v=u_2jTziXdUI” width=”600″ height=”400″]
                Cuanta más información tengas acerca de la diabetes y su tratamiento, mejores decisiones podrás tomar.  ASOCIATE</p>
                <br>
                <p><a href="links.hml">Para mas información.</a></p>
          </div>
       </div>
    </div>
 </section>

{% endblock %}