{% extends 'base.html' %}
{% load static %}


{% block content %}

<section class="sec-pad">
    <div class="container">
       <div class="row vcenter">
          <div class="col-lg-6 padding-left-50 mmt40">
             <h1>Estatutos de la Asociación</h1>
             
             <p>Los Estatutos de la Asociación Vizcaína de Diabetes “ASVIDIA”, con Nº de Registro RPB 1131, inscrita con fecha 13 de febrero de 1979, han sido modificados de conformidad con lo establecido en la Ley 7/2007 de 22 de junio, de Asociaciones de Euskadi y la Ley Orgánica 1/2002 de 22 de Marzo, reguladora del Derecho de Asociación, de acuerdo con lo establecido en los artículos 9 y 10.13 del Estatuto de Autonomía del País Vasco.

                También han sido modificados para adecuarlos a lo que establece LA LEY ORGÁNICA 3/2007 DEL 22 DE MARZO PARA LA IGUALDAD EFECTIVA DE MUJERES Y HOMBRES y lo establecido en el artículo 20.3 de la norma foral de 7/1994 de 9 de noviembre sobre exención del impuesto sobre el valor añadido (IVA).
                
                Dicha Asociación, sin ánimo de lucro, se regirá por los preceptos de las citadas Leyes de Asociaciones, por los presentes Estatutos, en cuanto no estén en contradicción con la ley, por los acuerdos válidamente adoptados por sus órganos de Gobierno, siempre que no sean contrarios a la Ley y/o a los Estatutos y por las disposiciones reglamentarias que apruebe el Gobierno Vasco, que solamente tendrán carácter supletorio.</p>
          </div>
       </div>
    </div>
 </section>

{% endblock %}