<!DOCTYPE html>
<html>
<head>
    <title>Mapa con QGIS</title>
    <!-- Agrega las referencias a las bibliotecas OpenLayers y jQuery -->
    <link rel="stylesheet" href="https://openlayers.org/en/latest/css/ol.css" type="text/css">
    <script src="https://openlayers.org/en/latest/build/ol.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Mapa con QGIS</h1>
    {% autoescape off %}
    {{ content }}
    {% endautoescape %}



    </script>
</body>
</html>