{% extends 'base.html' %}
{% load static %}


{% block content %}


<div>
    <section class="sec-pad">
        <div class="container">
           <div class="row vcenter">
              <div class="col-lg-6 padding-left-50 mmt40">
                 <h1>Miembros de la Junta directiva</h1>
                 
                 <p>La junta directiva se elige de forma democrática en Asamblea General. Se renueva cada 4 años o cuando causa baja algún miembro y está compuesta por un grupo de socios y socias que se ofrecen a colaborar de forma desinteresada en la dirección de nuestra asociación. Actualmente los miembros que la componen son:</p>
                 <br></br>
                 <ul type="circle">
                    <li>IRATXE VILARIÑO PAMPIN – Presidenta</li>
                    <li>ITZIAR LANDAJO CHAMORRO – Vicepresidente</li>
                    <li>ANE BENGOA SANCHEZ – Secretaria</li>
                    <li>TELMO PUENTE CUESTA – Vicesecretario</li>
                    <li>FERNANDO RICO REY – Tesorero</li>
                    <li>AMADA GUIMÓN BARDESI – Vocal</li>
                    <li>JOSU GURTUBAY ZAMORA – Vocal</li>
                    <li>JOSEBA MIRANDA PRADAS – Vocal</li>
                    <li>JESUS MARI GARCIA MEDINA – Vocal</li>
                    <li>JULIA VILCHES JARNES – Vocal</li>
                    <li>BEGOÑE MURILLO LARRAGOITI -Vocal</li>
                    <li>MARTA MORIANO RODRIGUEZ -Vocal</li>
                    <li>JON MEDINA GARCIA – Vocal</li>
        
                </ul>
              </div>
           </div>
        </div>
     </section>

     
     <!--block rolltext
    <div class="rolltext-pair">
       <div class="separatewebhranimation  menusw rtp1">
          <div class="marquee__inner" aria-hidden="true">
             <ul class="marquee-item-list">
                <li><span>We Build Brands</span><span class="alternate">✦</span></li>
                <li><span>Focus on Your Business</span><span class="alternate">✦</span></li>
                <li><span>Grow Your Business</span><span class="alternate">✦</span></li>
                <li><span>Build Your Audience</span><span class="alternate">✦</span></li>
                <li><span>Gain More Traffic</span><span class="alternate">✦</span></li>
                <li><span>Increase Brand Awareness</span><span class="alternate">✦</span></li>
                <li><span>Develop Global Presence</span><span class="alternate">✦</span></li>
                <li><span>We Build Brands</span><span class="alternate">✦</span></li>
                <li><span>Focus on Your Business</span><span class="alternate">✦</span></li>
                <li><span>Grow Your Business</span><span class="alternate">✦</span></li>
                <li><span>Build Your Audience</span><span class="alternate">✦</span></li>
                <li><span>Gain More Traffic</span><span class="alternate">✦</span></li>
                <li><span>Increase Brand Awareness</span><span class="alternate">✦</span></li>
                <li><span>Develop Global Presence</span><span class="alternate">✦</span></li>
             </ul>
          </div>
       </div>
       <div class="separatewebhranimation  menusw rtp2">
          <div class="marquee__inner animation-2" aria-hidden="true">
             <ul class="marquee-item-list">
                <li><span>We Build Brands</span><span class="alternate">✦</span></li>
                <li><span>Focus on Your Business</span><span class="alternate">✦</span></li>
                <li><span>Grow Your Business</span><span class="alternate">✦</span></li>
                <li><span>Build Your Audience</span><span class="alternate">✦</span></li>
                <li><span>Gain More Traffic</span><span class="alternate">✦</span></li>
                <li><span>Increase Brand Awareness</span><span class="alternate">✦</span></li>
                <li><span>Develop Global Presence</span><span class="alternate">✦</span></li>
                <li><span>We Build Brands</span><span class="alternate">✦</span></li>
                <li><span>Focus on Your Business</span><span class="alternate">✦</span></li>
                <li><span>Grow Your Business</span><span class="alternate">✦</span></li>
                <li><span>Build Your Audience</span><span class="alternate">✦</span></li>
                <li><span>Gain More Traffic</span><span class="alternate">✦</span></li>
                <li><span>Increase Brand Awareness</span><span class="alternate">✦</span></li>
                <li><span>Develop Global Presence</span><span class="alternate">✦</span></li>
             </ul>
          </div>
       </div>
    </div>-->
</div>


{% endblock %}