{% extends 'base.html' %}
{% load static %}


{% block content %}

<section class="sec-pad">
    <div class="container">
       <div class="row vcenter">
          <div class="col-lg-6 padding-left-50 mmt40">
             <h1>Pautas de actuación en los colegios</h1>
             
             <p>Este documento, avalado por el Gobierno Vasco, contiene una serie de normas básicas de actuación para atender a niños y niñas con Diabetes en el colegio. Puedes entregarlas en tu centro escolar y animarles a que las tengan siempre a mano, les será muy útil.

                “NORMAS BASICAS DE ACTUACION ANTE NIÑOS CON DIABETES”</p>
          </div>
       </div>
    </div>
 </section>

{% endblock %}