{% extends 'base.html' %}
{%load static %}

{% block content %}
      <!-- inner pages head 
      <div class="head-section rg-bg-2">
         <div class="container">
            <div class="row">
               <div class="col-lg-8">
                  <div class="headconent">
                     <div class="navitagion">
                     </div>
                     <h1 class="mb0">We are a team of effectually passionate experts to take business to new heights. ✶</h1>
                  </div>
               </div>   
               </div>            
               <div class="row vcenter mt40">
                  <div class="col-lg-6 padding-right-50">
                     <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content.</p>
                     <p class="mt15">In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content.</p>
                     <a href="#" class="r-g-btn r-g-btn-1 mt30">Get Started </a>
                  </div>
                  <div class="col-lg-6 mmt40">
                     <div class="position-relative">
                        <div class="ct-index">
                           <div class="round-text">
                              <img src="images/common/circled-text.svg" alt="logo" class="texts">
                              <img src="images/common/circle-logo.png" alt="logo" class="innerlogo">
                           </div>
                        </div>
                        <div class="single-image roundimg">
                           <img src="images/common/team.jpg" alt="team">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>-->
      <!-- // -->

      <!-- about block -->
      <section class="sec-pad">
         <div class="container">
            <div class="row vcenter">
               <div class="col-lg-6">
                  <div class="single-image roundimg">
                     <img src="images/common/office-3.jpg" alt="office">
                  </div>
               </div>
               <div class="col-lg-6 padding-left-50 mmt40">
                  <h1>Quiénes somos</h1>
                  <p>La Asociación Vizcaína de Diabetes (en adelante, ASVIDIA) se fundó en 1978 por parte de varias personas relacionadas con la diabetes, que vieron la necesidad de crear una estructura que ofreciera apoyo y educación a las personas con diabetes de Bizkaia.</p>
                  <p>Los artífices de la fundación fueron D. Pedro Martul (Endocrinólogo Pediatra), Dña. Clara Marlasca (Enfermera Educadora), D. Juan Luis Camacho (Representante de un laboratorio farmacéutico) y D. José Antonio Vázquez (Endocrinólogo). Las primeras reuniones tuvieron lugar en el Departamento de Pediatría del Hospital de Cruces y una de las primeras actividades fue realizar una colonia de verano para niños  en Estella (Navarra) en verano de 1979.

                     Después de pasar por varias sedes (en las calles María Díaz de Haro y Autonomía), la Diputación Foral de Bizkaia cedió a la Asociación el local que ocupa actualmente, en la calle Iparraguirre, 46.</p>
                  
                     
                  <div class="company-stat sw-bg-1-wave shadow">
                     <div class="coutner-set" data-cues="zoomIn" data-delay="100">
                        <div class="counterdiv">
                           <h4 class="rg-num"><span>10</span>+</h4>
                           <p>Years of<br>Experience</p>
                        </div>
                        <div class="counterdiv">
                           <h4 class="rg-num"><span>40</span>+</h4>
                           <p>Team<br>Members</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- // -->

      <!-- why choose us -->
      <section class="sec-pad pt0">
         <div class="container">
            <div class="row justify-content-between">
               <div class="col-lg-5 col-sm-12">
                  <div class="position-stick">
                     <p class="mt15">A lo largo de todos estos años, ASVIDIA ha tenido como único objetivo ayudar a las personas con diabetes de Bizkaia, proporcionando la necesaria educación diabetológica. Por este motivo  fue declarada “Entidad de Utilidad Pública” por el Gobierno Vasco en 2003. Además, la relación directa y cordial de ASVIDIA tanto con los hospitales vizcaínos como con los endocrinos y educadores en general, nos ha permitido ofrecer a los socios una serie de actividades adecuadamente supervisadas, por un amplio equipo médico, así como por un completo y formado grupo de monitores propios, que ASVIDIA mantiene como colaboradores desde hace años.

                        Actualmente, ASVIDIA abre sus puertas a los socios de lunes a jueves por las tardes y los viernes por la mañana. El personal fijo se compone de dos secretarias que se encargan de la labor administrativa del día a día. Su órgano ejecutivo es una Junta Directiva compuesta por personas que cubren las distintas sensibilidades de los socios y que se reúne mensualmente.</p>
                  </div>
               </div>
              <!-- <div class="col-lg-6 col-sm-12 mmt40">
                  <div class="sw-feature-list-001" data-cues="zoomIn" data-delay="100">
                     <div class="media featurelist shadow">
                        <div class="icon-div"><img src="images/icons/medal.png" alt="icon"></div>
                        <div class="media-body-content">
                           <h4>100% Guaranteed Satisfaction</h4>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                     </div>
                     <div class="media featurelist shadow">
                        <div class="icon-div"><img src="images/icons/hand.png" alt="icon"></div>
                        <div class="media-body-content">
                           <h4>Dedicated Teams</h4>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                     </div>
                     <div class="media featurelist shadow">
                        <div class="icon-div"><img src="images/icons/solar-energy.png" alt="icon"></div>
                        <div class="media-body-content">
                           <h4>Focus on Innovation</h4>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                     </div>
                     <div class="media featurelist shadow">
                        <div class="icon-div"><img src="images/icons/creative-thinking.png" alt="icon"></div>
                        <div class="media-body-content">
                           <h4>Creative and Innovative Solutions</h4>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                     </div>
                     <div class="media featurelist shadow">
                        <div class="icon-div"><img src="images/icons/telegram.png" alt="icon"></div>
                        <div class="media-body-content">
                           <h4>Flexibility for Effctive and Efficient Execution</h4>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                     </div>
                  </div>
               </div>-->
            </div>
         </div>
      </section>
      <!-- // -->

      <!-- timeline -->
      <section class="sec-pad rg-bg-1">
         <div class="container">
            <div class="row justify-content-between">
               <div class="col-lg-5">
                  <div class="position-stick">
                     <span class="subtitleheading">✦ Our 20 Years Successful Journey</span>
                     <h2 class="mb0">The Road To Success Stories</h2>
                  </div>
               </div>
               <div class="col-lg-5">
                  <p class="mt15">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
               </div>
            </div>
            <div class="row mt60">
               <div class="col-lg-12">
                  <div class="timeline">
                     <div class="timeline__wrap">
                        <div class="timeline__items">
                           <div class="timeline__item">
                              <div class="timeline__content">
                                 <h4 class="yr">2009</h4>
                                 <p class="cont">We have expanded digitally. The organisation is making excellent strides and establishing a strong presence.</p>
                              </div>
                           </div>
                           <div class="timeline__item">
                              <div class="timeline__content">
                                 <h4 class="yr">2012</h4>
                                 <p class="cont">We have expanded digitally. The organisation is making excellent strides and establishing a strong presence.</p>
                              </div>
                           </div>
                           <div class="timeline__item">
                              <div class="timeline__content">
                                 <h4 class="yr">2015</h4>
                                 <p class="cont">We have expanded digitally. The organisation is making excellent strides and establishing a strong presence.</p>
                              </div>
                           </div>
                           <div class="timeline__item">
                              <div class="timeline__content">
                                 <h4 class="yr">2018</h4>
                                 <p class="cont">We have expanded digitally. The organisation is making excellent strides and establishing a strong presence.</p>
                              </div>
                           </div>
                           <div class="timeline__item">
                              <div class="timeline__content">
                                 <h4 class="yr">2019</h4>
                                 <p class="cont">We have expanded digitally. The organisation is making excellent strides and establishing a strong presence.</p>
                              </div>
                           </div>
                           <div class="timeline__item">
                              <div class="timeline__content">
                                 <h4 class="yr">2022</h4>
                                 <p class="cont">We have expanded digitally. The organisation is making excellent strides and establishing a strong presence.</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- // -->

      <!-- team -->
      <section class="sec-pad">
         <div class="container">
            <div class="row justify-content-between">
               <div class="col-lg-4">
                  <div class="position-stick">
                     <span class="subtitleheading">✦ Leadership</span>
                     <h2>Executive Team</h2>
                     <p>Our leadership team couldn't work their magic without the inspiration and help of our outstanding directors and their crew.</p>
                  </div>
               </div>
               <div class="col-lg-7">
                  <div class="row" data-cues="slideInUp" data-delay="100">
                     <div class="col-lg-6 col-md-6 mt30">
                        <div class="teamcard">
                           <div class="roundimg shadow"><img src="images/team/team-1.jpg" alt="img" class="w-100"></div>
                           <div class="teamdata">
                              <div class="name-position">
                                 <h4>Sumit Kumar</h4>
                                 <p>Founder of Rundal</p>
                              </div>
                              <div class="social-profile">
                                 <a href="javascript:void(0)"><i class="fa-brands fa-twitter"></i></a>
                                 <a href="javascript:void(0)"><i class="fa-brands fa-linkedin-in"></i></a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-6 col-md-6 mt30">
                        <div class="teamcard">
                           <div class="roundimg shadow"><img src="images/team/team-2.jpg" alt="img" class="w-100"></div>
                           <div class="teamdata">
                              <div class="name-position">
                                 <h4>Mahi Choudhary</h4>
                                 <p>CTO of Rundal</p>
                              </div>
                              <div class="social-profile">
                                 <a href="javascript:void(0)"><i class="fa-brands fa-twitter"></i></a>
                                 <a href="javascript:void(0)"><i class="fa-brands fa-linkedin-in"></i></a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-6 col-md-6 mt30">
                        <div class="teamcard">
                           <div class="roundimg shadow"><img src="images/team/team-3.jpg" alt="img" class="w-100"></div>
                           <div class="teamdata">
                              <div class="name-position">
                                 <h4>Dav Patel</h4>
                                 <p>Managing Director</p>
                              </div>
                              <div class="social-profile">
                                 <a href="javascript:void(0)"><i class="fa-brands fa-twitter"></i></a>
                                 <a href="javascript:void(0)"><i class="fa-brands fa-linkedin-in"></i></a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-6 col-md-6 mt30">
                        <div class="teamcard">
                           <div class="roundimg shadow"><img src="images/team/team-4.jpg" alt="img" class="w-100"></div>
                           <div class="teamdata">
                              <div class="name-position">
                                 <h4>Leyana Charh</h4>
                                 <p>Business Analyst</p>
                              </div>
                              <div class="social-profile">
                                 <a href="javascript:void(0)"><i class="fa-brands fa-twitter"></i></a>
                                 <a href="javascript:void(0)"><i class="fa-brands fa-linkedin-in"></i></a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- // -->

      <!-- cta skew -->
      <section class="cta-sw-skew sec-pad pt0">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="ctapairskew">
                     <div class="ctapair-skew" data-cue="slideInLeft" data-delay="100">
                        <div class="skew-sw-half rg-bg-4 skew-sw-left"></div>
                        <div class="skew-sw-div rg-bg-4"></div>
                        <div class="ctapaircontent">
                           <h3 class="mb15">Want to hire resources<br> to work with you?</h3>
                           <a href="#" class="r-g-btn r-g-btn-7 mt30">Hire Now </a>
                        </div>
                     </div>
                     <div class="ctapair-skew" data-cue="slideInRight" data-delay="100">
                        <div class="skew-sw-half rg-bg-5 skew-sw-right"></div>
                        <div class="skew-sw-div rg-bg-5"></div>
                        <div class="ctapaircontent">
                           <h3 class="mb15">Looking for Web Development<br> & Graphic Design Solutions?</h3>
                           <a href="#" class="r-g-btn r-g-btn-2 mt30">Talk to Expert </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- cta skew -->


{% endblock %}