{% extends 'base.html' %}
{% load static %}


{% block content %}

<section class="sec-pad">
    <div class="container">
       <div class="row vcenter">
          <div class="talleres-col-cen">
             <h1>Talleres de Educacion Diabetologica</h1>

             <p><strong>¿Qué son los Talleres Asvidia?</strong></p>
             
             <p>Son cursillos prácticos sobre distintos temas relacionados con la diabetes (alimentación, ejercicio, nuevas tecnologías, salud, etc). Tienen una duración de una sola sesión de entre una y dos horas. Se imparten en las salas de proyecciones o de formación de la propia asociación en horario de 18:30 a 20:00</p>
             <br></br>
             <p><strong>¿Quiénes pueden acudir?</strong></p>   
            
             <p>Todos y todas nuestros socias, aunque en ocasiones  habrá talleres específicos para una franja de edad (niños y niñas, adolescentes, jóvenes tipo 1, adultos, etc)

                Las plazas están limitadas según el tipo de taller a entre 10 y 18 personas. Se ocuparan por orden de preinscripción y en caso de que interese a muchos asociados, se volverá a organizar el taller en otra fecha. Cuando se organice un taller para padres y madres de niños/as con diabetes se organizara simultáneamente otro para estos últimos a fin de facilitaros la asistencia a los mismos.</p>
             <br>
             <p><strong>¿Cómo puedo participar?</strong></p>
             <p>Los talleres se anunciaran por carta trimestralmente, aunque la mejor vía de estar siempre al corriente de los próximos talleres o de si se diese alguna modificación de fecha o ponente es a través de nuestra página web www.asvidia.org o dándonos una dirección de correo electrónico (solo si aún no nos ha facilitado una) donde recibir nuestras notificaciones.

                Una vez recibida la información sobre los talleres, si alguno es de su agrado y entra dentro de la a franja de edad del mismo, tiene que llamar a la asociación en horario de oficina (lunes a jueves de 15:30 a 19:30 y los viernes de 10:00 a 13:00) o bien escribir un mensaje a info@asvidia.org indicando nombre y apellido, edad, teléfono móvil de contacto y el nombre del taller y fecha del mismo.
                
                El precio de cada taller es de 5 € (lo justo para cubrir gastos ya que no hay subvención para esta actividad) aunque si alguien desea acudir y no puede por temas económicos graves no tiene que abonar ningún importe.</p>
                
             <br></br>
             <p><strong>¿Por qué participar?</strong></p>   
               
             <p>Porque es una forma excelente y practica de aprender cosas nuevas sobre la diabetes así como de conocer a otras personas con mis mismas inquietudes.</p>
            </div>
       </div>
    </div>
 </section>

{% endblock %}